@model Gorkem.Northwind.MvcWebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<table class="table table-responsive">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Category Id</td>
        <td>Unit Price</td>
        <td>Units in Stock</td>
        <td></td>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.CategoryId</td>
            <td>@product.UnitPrice</td>
            <td>@product.UnitsInStock</td>
            <td>
                <a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">
                    Add to Cart
                </a>
            </td>
        </tr>
    }
</table>
<product-list-pager page-size="Model.PageSize" page-count="Model.PageCount"
                    current-category="Model.CurrentCategory" current-page="Model.CurrentPage"></product-list-pager>


